.navbar {
  display: fixed;
}

header {
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 20px;
  border-bottom: 1px solid black;
  font-family: 'Pacifico', cursive;
}

.logo-pic {
  display: flex;
  align-items: center;
  height: 80px;
  width: 80px;
}

.welcome-user {
  display: flex;
  align-items: center;
}

.login-button, .signup-button {
  background-color: lightgrey;
  border-radius: 5px;
  padding: 5px;
}

.login-button:hover, .signup-button:hover {
  box-shadow: 5px 5px 5px black;
}

h1 {
  font-size: 35px;
}
