// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.user-page-photos {
  width: 25%;
  margin: 5px;
}

.user-page-image-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.user-page-container {
  padding-top: 150px;
}

.user-page-user-information {
  display: flex;
  justify-content: center;
  font-size: -webkit-xxx-large;
  margin-bottom: 10px;
}
